.h2 {
    font-size: large;
    color: red;
}
.poid{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.newPoid{
    color: blue;
}
.partie{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    width: 25%;
}